._3-d-printing,
._3-d-printing * {
  box-sizing: border-box;
}
._3-d-printing {
  background: #ffffff;
  height: 14897px;
  position: relative;
  overflow: hidden;
}
.logo {
  width: 188.65px;
  height: 72.25px;
  position: absolute;
  left: 90px;
  top: 0px;
}
.rectangle-1 {
  width: 99.78%;
  height: 99.85%;
  position: absolute;
  right: 0%;
  left: 0.22%;
  bottom: 0%;
  top: 0.15%;
  transform: translate(0px, 0px);
  overflow: visible;
}
.bbst {
  color: #ffffff;
  text-align: center;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0.35%;
  left: 0%;
  width: 99.65%;
  bottom: 0.35%;
  top: 0%;
  height: 99.65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 90.97px;
  left: 90px;
  top: 72px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-3 {
  position: absolute;
  inset: 0;
}
.about {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 908px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-interoduction {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 570px;
  top: 24px;
  width: 361px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-member {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 279px;
  top: 24px;
  width: 315px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 168px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 57px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-13 {
  position: absolute;
  inset: 0;
}
.line-22 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 80.97px;
  left: 100px;
  bottom: 48px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.bsst-team-zwu {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 1063px;
  left: 80px;
  bottom: 0px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2024-6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 81px;
  left: 1062px;
  bottom: 0px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._3-d-printing-also-known-as-stereoscopic-printing-or-additive-manufacturing-is-a-technology-that-manufactures-physical-parts-based-on-3-d-cad-data-through-the-method-of-layer-by-layer-material-accumulation-the-core-principle-of-this-technique-is-to-add-materials-layer-by-layer-transforming-the-digital-design-into-a-physical-object {
  color: #000000;
  text-align: justified;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 535px);
  top: calc(50% - 7233.5px);
  width: 1098px;
  height: 125px;
}
.the-selective-laser-sintering-sls-process-was-first-proposed-by-american-carl-deckard-in-1989-and-dtm-company-launched-the-commercial-production-equipment-for-this-process-in-1992-current-research-status-of-sls-technology-dtm-company-and-3-d-systems-company-in-the-united-states-eos-company-in-germany-domestic-companies-such-as-beijing-longyuan-automatic-forming-system-co-ltd-and-huazhong-university-of-science-and-technology-at-present-significant-achievements-have-been-made-in-rp-molding-systems-sls-molding-machines-metal-powder-research-sintering-theory-scanning-paths-and-other-areas-in-china {
  text-align: justified;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 535px);
  top: calc(50% - 6490.5px);
  width: 705px;
  height: 311px;
}
.the-selective-laser-sintering-sls-process-was-first-proposed-by-american-carl-deckard-in-1989-and-dtm-company-launched-the-commercial-production-equipment-for-this-process-in-1992-current-research-status-of-sls-technology-dtm-company-and-3-d-systems-company-in-the-united-states-eos-company-in-germany-domestic-companies-such-as-beijing-longyuan-automatic-forming-system-co-ltd-and-huazhong-university-of-science-and-technology-at-present-significant-achievements-have-been-made-in-rp-molding-systems-sls-molding-machines-metal-powder-research-sintering-theory-scanning-paths-and-other-areas-in-china-span {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.the-selective-laser-sintering-sls-process-was-first-proposed-by-american-carl-deckard-in-1989-and-dtm-company-launched-the-commercial-production-equipment-for-this-process-in-1992-current-research-status-of-sls-technology-dtm-company-and-3-d-systems-company-in-the-united-states-eos-company-in-germany-domestic-companies-such-as-beijing-longyuan-automatic-forming-system-co-ltd-and-huazhong-university-of-science-and-technology-at-present-significant-achievements-have-been-made-in-rp-molding-systems-sls-molding-machines-metal-powder-research-sintering-theory-scanning-paths-and-other-areas-in-china-span2 {
  color: rgba(9, 51, 202, 0.78);
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 400;
}
.the-selective-laser-sintering-sls-process-was-first-proposed-by-american-carl-deckard-in-1989-and-dtm-company-launched-the-commercial-production-equipment-for-this-process-in-1992-current-research-status-of-sls-technology-dtm-company-and-3-d-systems-company-in-the-united-states-eos-company-in-germany-domestic-companies-such-as-beijing-longyuan-automatic-forming-system-co-ltd-and-huazhong-university-of-science-and-technology-at-present-significant-achievements-have-been-made-in-rp-molding-systems-sls-molding-machines-metal-powder-research-sintering-theory-scanning-paths-and-other-areas-in-china-span3 {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
._1-3-d-printer-background {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 564px);
  top: calc(50% - 7270.5px);
  width: 695px;
  height: 25.02px;
}
._2-new-application-new-technology-about-material-machine-new-paper {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 563px);
  top: calc(50% - 7070.5px);
  width: 906px;
  height: 25px;
}
._3-sls-3-d-printing {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 564px);
  top: calc(50% - 6527.5px);
  width: 695px;
  height: 25.02px;
}
._4-advantages-and-disadvantages-of-sls-process {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 563px);
  top: calc(50% - 6143.5px);
  width: 695px;
  height: 25.02px;
}
._4-advantages-and-disadvantages-of-sls-process-span {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
}
._4-advantages-and-disadvantages-of-sls-process-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.course-3-d-printing {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 614px);
  top: calc(50% - 7337.5px);
  width: 434.85px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.https-mo-mbd-baidu-com-r-1-lrq-lzv-tyq-q-f-cp-rs-3686669284-ruk-nkomwq-m-wd-z-5-o-hq-m-2-dex-jvg-u-2700-e-6-c-310-f-8-f-402 {
  color: #f97583;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 14px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 200;
  text-decoration: underline;
  position: absolute;
  left: calc(50% - 514px);
  top: calc(50% - 5366.5px);
  width: 1061px;
  height: 17px;
}
._30-fc-384-d-59-d-72-cb-1-c-108-e-8-ef-014818-c-1 {
  width: 351px;
  height: 234px;
  position: absolute;
  left: calc(50% - -212px);
  top: calc(50% - 6490.5px);
  object-fit: cover;
}
.advantage {
  color: rgba(9, 51, 202, 0.78);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 538px);
  top: calc(50% - 6106.5px);
  width: 609px;
  height: 23px;
}
.diversity-of-molding-materials-and-low-cost-this-is-the-most-prominent-feature-of-sls-in-theory-materials-that-can-form-atomic-connections-between-powders-after-laser-heating-can-be-used-as-sls-forming-materials-at-present-commercialized-materials-mainly-include-plastic-powder-wax-powder-coated-metal-powder-ceramic-powder-coated-with-adhesive-on-the-surface-coated-sand-etc-there-are-almost-no-requirements-for-the-shape-of-the-parts-due-to-the-fact-that-the-powder-in-the-lower-layer-naturally-becomes-the-support-for-the-upper-layer-sls-has-self-supporting-properties-and-can-manufacture-any-complex-shape-which-many-rp-technologies-do-not-possess-forming-is-not-limited-by-the-inability-of-traditional-machining-tools-to-reach-certain-surfaces-high-material-utilization-rate-unsintered-powder-can-be-reused-the-parts-have-good-mechanical-properties-the-finished-product-can-be-directly-used-for-functional-testing-or-small-batch-use-realize-integrated-design-and-manufacturing-the-supporting-software-can-automatically-convert-cad-data-into-layered-stl-data-generate-cnc-codes-based-on-layer-information-and-drive-the-forming-machine-to-complete-layer-by-layer-processing-and-stacking-of-materials-without-human-intervention {
  color: #000000;
  text-align: justified;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 529px);
  top: calc(50% - 6079.5px);
  width: 1092px;
  height: 428px;
}
.the-equipment-cost-is-high-the-interior-of-the-product-is-loose-and-porous-with-high-surface-roughness-and-low-mechanical-properties-the-quality-of-the-parts-is-greatly-affected-by-the-powder-making-it-difficult-to-improve-the-maximum-size-of-parts-that-can-be-manufactured-is-limited-the-molding-process-consumes-a-lot-of-energy-and-the-post-processing-process-is-complex {
  color: #000000;
  text-align: justified;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 529px);
  top: calc(50% - 5594.5px);
  width: 1092px;
  height: 194px;
}
.disadvantage {
  color: rgba(9, 51, 202, 0.78);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 538px);
  top: calc(50% - 5617.5px);
  width: 609px;
  height: 23px;
}
.materials-there-are-many-materials-for-3-d-printing-including-plastics-metals-ceramics-gypsum-and-even-biomaterials-which-material-you-choose-depends-on-the-functional-and-performance-needs-of-the-object-you-are-printing-on-for-example-plastics-are-commonly-used-to-print-models-and-prototypes-while-metals-are-often-used-to-print-structural-parts-machines-there-are-many-types-of-3-d-printers-including-fused-deposition-modeling-fdm-printers-stereolithography-sla-printers-selective-laser-sintering-sls-printers-etc-different-types-of-printers-are-suitable-for-different-applications-such-as-fdm-printers-are-often-used-to-print-plastic-parts-and-sls-printers-are-often-used-to-print-metal-parts-new-applications-with-the-development-of-3-d-printing-technology-its-application-fields-are-also-expanding-for-example-in-the-medical-field-customized-prosthetics-and-medical-devices-can-be-printed-in-the-field-of-construction-complex-building-components-can-be-printed-in-the-field-of-art-it-is-possible-to-print-beautiful-works-of-art-new-technologies-3-d-printing-technology-is-also-constantly-evolving-and-innovating-for-example-4-d-printing-is-an-emerging-technology-that-can-print-objects-that-change-shape-over-time-in-addition-multi-material-3-d-printing-is-also-a-research-hotspot-which-can-print-multiple-materials-in-the-same-object-to-achieve-more-complex-functions-and-properties {
  text-align: justified;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 535px);
  top: calc(50% - 7033.5px);
  width: 1098px;
  height: 509px;
}
.materials-there-are-many-materials-for-3-d-printing-including-plastics-metals-ceramics-gypsum-and-even-biomaterials-which-material-you-choose-depends-on-the-functional-and-performance-needs-of-the-object-you-are-printing-on-for-example-plastics-are-commonly-used-to-print-models-and-prototypes-while-metals-are-often-used-to-print-structural-parts-machines-there-are-many-types-of-3-d-printers-including-fused-deposition-modeling-fdm-printers-stereolithography-sla-printers-selective-laser-sintering-sls-printers-etc-different-types-of-printers-are-suitable-for-different-applications-such-as-fdm-printers-are-often-used-to-print-plastic-parts-and-sls-printers-are-often-used-to-print-metal-parts-new-applications-with-the-development-of-3-d-printing-technology-its-application-fields-are-also-expanding-for-example-in-the-medical-field-customized-prosthetics-and-medical-devices-can-be-printed-in-the-field-of-construction-complex-building-components-can-be-printed-in-the-field-of-art-it-is-possible-to-print-beautiful-works-of-art-new-technologies-3-d-printing-technology-is-also-constantly-evolving-and-innovating-for-example-4-d-printing-is-an-emerging-technology-that-can-print-objects-that-change-shape-over-time-in-addition-multi-material-3-d-printing-is-also-a-research-hotspot-which-can-print-multiple-materials-in-the-same-object-to-achieve-more-complex-functions-and-properties-span {
  color: rgba(9, 51, 202, 0.78);
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.materials-there-are-many-materials-for-3-d-printing-including-plastics-metals-ceramics-gypsum-and-even-biomaterials-which-material-you-choose-depends-on-the-functional-and-performance-needs-of-the-object-you-are-printing-on-for-example-plastics-are-commonly-used-to-print-models-and-prototypes-while-metals-are-often-used-to-print-structural-parts-machines-there-are-many-types-of-3-d-printers-including-fused-deposition-modeling-fdm-printers-stereolithography-sla-printers-selective-laser-sintering-sls-printers-etc-different-types-of-printers-are-suitable-for-different-applications-such-as-fdm-printers-are-often-used-to-print-plastic-parts-and-sls-printers-are-often-used-to-print-metal-parts-new-applications-with-the-development-of-3-d-printing-technology-its-application-fields-are-also-expanding-for-example-in-the-medical-field-customized-prosthetics-and-medical-devices-can-be-printed-in-the-field-of-construction-complex-building-components-can-be-printed-in-the-field-of-art-it-is-possible-to-print-beautiful-works-of-art-new-technologies-3-d-printing-technology-is-also-constantly-evolving-and-innovating-for-example-4-d-printing-is-an-emerging-technology-that-can-print-objects-that-change-shape-over-time-in-addition-multi-material-3-d-printing-is-also-a-research-hotspot-which-can-print-multiple-materials-in-the-same-object-to-achieve-more-complex-functions-and-properties-span2 {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.materials-there-are-many-materials-for-3-d-printing-including-plastics-metals-ceramics-gypsum-and-even-biomaterials-which-material-you-choose-depends-on-the-functional-and-performance-needs-of-the-object-you-are-printing-on-for-example-plastics-are-commonly-used-to-print-models-and-prototypes-while-metals-are-often-used-to-print-structural-parts-machines-there-are-many-types-of-3-d-printers-including-fused-deposition-modeling-fdm-printers-stereolithography-sla-printers-selective-laser-sintering-sls-printers-etc-different-types-of-printers-are-suitable-for-different-applications-such-as-fdm-printers-are-often-used-to-print-plastic-parts-and-sls-printers-are-often-used-to-print-metal-parts-new-applications-with-the-development-of-3-d-printing-technology-its-application-fields-are-also-expanding-for-example-in-the-medical-field-customized-prosthetics-and-medical-devices-can-be-printed-in-the-field-of-construction-complex-building-components-can-be-printed-in-the-field-of-art-it-is-possible-to-print-beautiful-works-of-art-new-technologies-3-d-printing-technology-is-also-constantly-evolving-and-innovating-for-example-4-d-printing-is-an-emerging-technology-that-can-print-objects-that-change-shape-over-time-in-addition-multi-material-3-d-printing-is-also-a-research-hotspot-which-can-print-multiple-materials-in-the-same-object-to-achieve-more-complex-functions-and-properties-span3 {
  color: rgba(9, 51, 202, 0.78);
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.materials-there-are-many-materials-for-3-d-printing-including-plastics-metals-ceramics-gypsum-and-even-biomaterials-which-material-you-choose-depends-on-the-functional-and-performance-needs-of-the-object-you-are-printing-on-for-example-plastics-are-commonly-used-to-print-models-and-prototypes-while-metals-are-often-used-to-print-structural-parts-machines-there-are-many-types-of-3-d-printers-including-fused-deposition-modeling-fdm-printers-stereolithography-sla-printers-selective-laser-sintering-sls-printers-etc-different-types-of-printers-are-suitable-for-different-applications-such-as-fdm-printers-are-often-used-to-print-plastic-parts-and-sls-printers-are-often-used-to-print-metal-parts-new-applications-with-the-development-of-3-d-printing-technology-its-application-fields-are-also-expanding-for-example-in-the-medical-field-customized-prosthetics-and-medical-devices-can-be-printed-in-the-field-of-construction-complex-building-components-can-be-printed-in-the-field-of-art-it-is-possible-to-print-beautiful-works-of-art-new-technologies-3-d-printing-technology-is-also-constantly-evolving-and-innovating-for-example-4-d-printing-is-an-emerging-technology-that-can-print-objects-that-change-shape-over-time-in-addition-multi-material-3-d-printing-is-also-a-research-hotspot-which-can-print-multiple-materials-in-the-same-object-to-achieve-more-complex-functions-and-properties-span4 {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.materials-there-are-many-materials-for-3-d-printing-including-plastics-metals-ceramics-gypsum-and-even-biomaterials-which-material-you-choose-depends-on-the-functional-and-performance-needs-of-the-object-you-are-printing-on-for-example-plastics-are-commonly-used-to-print-models-and-prototypes-while-metals-are-often-used-to-print-structural-parts-machines-there-are-many-types-of-3-d-printers-including-fused-deposition-modeling-fdm-printers-stereolithography-sla-printers-selective-laser-sintering-sls-printers-etc-different-types-of-printers-are-suitable-for-different-applications-such-as-fdm-printers-are-often-used-to-print-plastic-parts-and-sls-printers-are-often-used-to-print-metal-parts-new-applications-with-the-development-of-3-d-printing-technology-its-application-fields-are-also-expanding-for-example-in-the-medical-field-customized-prosthetics-and-medical-devices-can-be-printed-in-the-field-of-construction-complex-building-components-can-be-printed-in-the-field-of-art-it-is-possible-to-print-beautiful-works-of-art-new-technologies-3-d-printing-technology-is-also-constantly-evolving-and-innovating-for-example-4-d-printing-is-an-emerging-technology-that-can-print-objects-that-change-shape-over-time-in-addition-multi-material-3-d-printing-is-also-a-research-hotspot-which-can-print-multiple-materials-in-the-same-object-to-achieve-more-complex-functions-and-properties-span5 {
  color: rgba(9, 51, 202, 0.78);
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.materials-there-are-many-materials-for-3-d-printing-including-plastics-metals-ceramics-gypsum-and-even-biomaterials-which-material-you-choose-depends-on-the-functional-and-performance-needs-of-the-object-you-are-printing-on-for-example-plastics-are-commonly-used-to-print-models-and-prototypes-while-metals-are-often-used-to-print-structural-parts-machines-there-are-many-types-of-3-d-printers-including-fused-deposition-modeling-fdm-printers-stereolithography-sla-printers-selective-laser-sintering-sls-printers-etc-different-types-of-printers-are-suitable-for-different-applications-such-as-fdm-printers-are-often-used-to-print-plastic-parts-and-sls-printers-are-often-used-to-print-metal-parts-new-applications-with-the-development-of-3-d-printing-technology-its-application-fields-are-also-expanding-for-example-in-the-medical-field-customized-prosthetics-and-medical-devices-can-be-printed-in-the-field-of-construction-complex-building-components-can-be-printed-in-the-field-of-art-it-is-possible-to-print-beautiful-works-of-art-new-technologies-3-d-printing-technology-is-also-constantly-evolving-and-innovating-for-example-4-d-printing-is-an-emerging-technology-that-can-print-objects-that-change-shape-over-time-in-addition-multi-material-3-d-printing-is-also-a-research-hotspot-which-can-print-multiple-materials-in-the-same-object-to-achieve-more-complex-functions-and-properties-span6 {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.materials-there-are-many-materials-for-3-d-printing-including-plastics-metals-ceramics-gypsum-and-even-biomaterials-which-material-you-choose-depends-on-the-functional-and-performance-needs-of-the-object-you-are-printing-on-for-example-plastics-are-commonly-used-to-print-models-and-prototypes-while-metals-are-often-used-to-print-structural-parts-machines-there-are-many-types-of-3-d-printers-including-fused-deposition-modeling-fdm-printers-stereolithography-sla-printers-selective-laser-sintering-sls-printers-etc-different-types-of-printers-are-suitable-for-different-applications-such-as-fdm-printers-are-often-used-to-print-plastic-parts-and-sls-printers-are-often-used-to-print-metal-parts-new-applications-with-the-development-of-3-d-printing-technology-its-application-fields-are-also-expanding-for-example-in-the-medical-field-customized-prosthetics-and-medical-devices-can-be-printed-in-the-field-of-construction-complex-building-components-can-be-printed-in-the-field-of-art-it-is-possible-to-print-beautiful-works-of-art-new-technologies-3-d-printing-technology-is-also-constantly-evolving-and-innovating-for-example-4-d-printing-is-an-emerging-technology-that-can-print-objects-that-change-shape-over-time-in-addition-multi-material-3-d-printing-is-also-a-research-hotspot-which-can-print-multiple-materials-in-the-same-object-to-achieve-more-complex-functions-and-properties-span7 {
  color: rgba(9, 51, 202, 0.78);
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.materials-there-are-many-materials-for-3-d-printing-including-plastics-metals-ceramics-gypsum-and-even-biomaterials-which-material-you-choose-depends-on-the-functional-and-performance-needs-of-the-object-you-are-printing-on-for-example-plastics-are-commonly-used-to-print-models-and-prototypes-while-metals-are-often-used-to-print-structural-parts-machines-there-are-many-types-of-3-d-printers-including-fused-deposition-modeling-fdm-printers-stereolithography-sla-printers-selective-laser-sintering-sls-printers-etc-different-types-of-printers-are-suitable-for-different-applications-such-as-fdm-printers-are-often-used-to-print-plastic-parts-and-sls-printers-are-often-used-to-print-metal-parts-new-applications-with-the-development-of-3-d-printing-technology-its-application-fields-are-also-expanding-for-example-in-the-medical-field-customized-prosthetics-and-medical-devices-can-be-printed-in-the-field-of-construction-complex-building-components-can-be-printed-in-the-field-of-art-it-is-possible-to-print-beautiful-works-of-art-new-technologies-3-d-printing-technology-is-also-constantly-evolving-and-innovating-for-example-4-d-printing-is-an-emerging-technology-that-can-print-objects-that-change-shape-over-time-in-addition-multi-material-3-d-printing-is-also-a-research-hotspot-which-can-print-multiple-materials-in-the-same-object-to-achieve-more-complex-functions-and-properties-span8 {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.refrence-http-pfxbzlx-gdvdc-com-cn-10-3969-j-issn-1674-8468-2023-04-014 {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 433px);
  top: calc(50% - 3515.5px);
  width: 772px;
  height: 67px;
}
.refrence-http-pfxbzlx-gdvdc-com-cn-10-3969-j-issn-1674-8468-2023-04-014-span {
  color: rgba(9, 51, 202, 0.78);
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.refrence-http-pfxbzlx-gdvdc-com-cn-10-3969-j-issn-1674-8468-2023-04-014-span2 {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 200;
}
.refrence-http-pfxbzlx-gdvdc-com-cn-10-3969-j-issn-1674-8468-2023-04-014-span3 {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 200;
  text-decoration: underline;
}
.group-58 {
  position: absolute;
  inset: 0;
}
.group-56 {
  width: 1094px;
  height: 167px;
  position: static;
}
.printing-has-significant-application-potential-in-the-field-of-skin-repair-researchers-can-maximize-skin-activity-and-other-natural-properties-by-integrating-different-extracellular-matrices-into-skin-3-d-printing-technology-thereby-achieving-effective-repair-of-damaged-skin-and-fusion-with-normal-skin-in-addition-for-patients-with-severe-skin-burns-caused-by-fires-3-d-printing-technology-can-quickly-and-accurately-print-materials-containing-skin-cells-construct-biomimetic-skin-structures-thereby-shortening-the-treatment-cycle-and-reducing-postoperative-scars {
  color: #000000;
  text-align: justified;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 538px);
  top: calc(50% - 5252.5px);
  width: 1094px;
  height: 167px;
}
.e-40-c-710-fa-25906-e-7-fa-8-ad-6-c-4833-dfcc-1 {
  border-radius: 39px;
  width: 607px;
  height: 296px;
  position: absolute;
  left: calc(50% - 564px);
  top: calc(50% - 5058.5px);
  object-fit: cover;
}
._32888934544-b-7-a-6-def-144-fa-90203062-1 {
  border-radius: 38px;
  width: 517px;
  height: 309px;
  position: absolute;
  left: calc(50% - -46px);
  top: calc(50% - 5058.5px);
  object-fit: cover;
}
.e-9-de-7-f-173539-d-1-e-7-ce-1812-fbab-35004-1 {
  border-radius: 46px;
  width: 737px;
  height: 454px;
  position: absolute;
  left: calc(50% - 398px);
  top: calc(50% - 4034.5px);
  object-fit: cover;
}
.application-of-in-situ-skin-bioprinting-in-situ-skin-bioprinting-utilizes-inkjet-bioprinting-technology-which-uses-handheld-devices-or-robot-automation-systems-to-directly-print-cell-filled-bioprinting-onto-the-human-wound-site-6-this-bioprinting-method-can-print-concentrated-skin-cell-suspensions-onto-wounds-to-accelerate-their-healing-hakimi-et-al-14-developed-a-handheld-3-d-in-situ-bioprinter-that-can-be-directly-printed-in-mouse-and-pig-wound-models-with-cells-forming-skin-patches-in-situ-on-the-wound-albanna-et-al-6-used-portable-inkjet-bioprinters-and-laser-bioprinters-to-print-high-density-suspensions-of-human-fibroblasts-and-keratinocytes-onto-full-thickness-skin-excised-wounds-in-experimental-mice-using-fibrin-collagen-bioprinters-the-skin-structure-printed-on-the-wound-retains-a-high-cell-density-and-for-up-to-6-weeks-after-printing-human-cells-can-also-be-observed-in-the-tissue-compared-to-untreated-and-cell-free-grafts-direct-in-situ-skin-3-d-bioprinting-therapy-leads-to-faster-wound-healing-skardal-et-al-7-also-evaluated-the-role-of-stem-cell-derived-seed-cells-in-wound-healing-by-using-a-robotic-inkjet-bioprinter-to-directly-print-amniotic-fluid-derived-stem-cells-afsc-and-fibrin-collagen-bioprinters-carrying-bone-marrow-mesenchymal-stem-cells-bm-ms-cs-onto-the-wounds-of-mice-undergoing-full-layer-skin-resection-compared-with-the-pure-gel-control-group-the-mice-treated-with-afs-cs-and-bm-ms-cs-had-faster-wound-closure-and-epidermal-formation-in-another-experiment-to-regulate-paracrine-activity-at-the-wound-site-skardal-et-al-7-printed-heparin-coupled-hyaluronic-acid-hydrogel-containing-afs-cs-directly-on-the-wound-of-full-thickness-skin-resection-the-hydrogel-can-isolate-the-cytokines-secreted-by-afsc-in-situ-extend-paracrine-activity-and-make-the-full-thickness-wound-faster-closed-and-vascularized-the-main-advantage-of-in-situ-bioprinting-is-the-ability-to-layer-cell-ink-based-on-the-precise-shape-of-the-wound-making-it-particularly-suitable-for-treating-irregularly {
  text-align: justified;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 537px);
  top: calc(50% - 4739.5px);
  width: 1100px;
  height: 597px;
}
.application-of-in-situ-skin-bioprinting-in-situ-skin-bioprinting-utilizes-inkjet-bioprinting-technology-which-uses-handheld-devices-or-robot-automation-systems-to-directly-print-cell-filled-bioprinting-onto-the-human-wound-site-6-this-bioprinting-method-can-print-concentrated-skin-cell-suspensions-onto-wounds-to-accelerate-their-healing-hakimi-et-al-14-developed-a-handheld-3-d-in-situ-bioprinter-that-can-be-directly-printed-in-mouse-and-pig-wound-models-with-cells-forming-skin-patches-in-situ-on-the-wound-albanna-et-al-6-used-portable-inkjet-bioprinters-and-laser-bioprinters-to-print-high-density-suspensions-of-human-fibroblasts-and-keratinocytes-onto-full-thickness-skin-excised-wounds-in-experimental-mice-using-fibrin-collagen-bioprinters-the-skin-structure-printed-on-the-wound-retains-a-high-cell-density-and-for-up-to-6-weeks-after-printing-human-cells-can-also-be-observed-in-the-tissue-compared-to-untreated-and-cell-free-grafts-direct-in-situ-skin-3-d-bioprinting-therapy-leads-to-faster-wound-healing-skardal-et-al-7-also-evaluated-the-role-of-stem-cell-derived-seed-cells-in-wound-healing-by-using-a-robotic-inkjet-bioprinter-to-directly-print-amniotic-fluid-derived-stem-cells-afsc-and-fibrin-collagen-bioprinters-carrying-bone-marrow-mesenchymal-stem-cells-bm-ms-cs-onto-the-wounds-of-mice-undergoing-full-layer-skin-resection-compared-with-the-pure-gel-control-group-the-mice-treated-with-afs-cs-and-bm-ms-cs-had-faster-wound-closure-and-epidermal-formation-in-another-experiment-to-regulate-paracrine-activity-at-the-wound-site-skardal-et-al-7-printed-heparin-coupled-hyaluronic-acid-hydrogel-containing-afs-cs-directly-on-the-wound-of-full-thickness-skin-resection-the-hydrogel-can-isolate-the-cytokines-secreted-by-afsc-in-situ-extend-paracrine-activity-and-make-the-full-thickness-wound-faster-closed-and-vascularized-the-main-advantage-of-in-situ-bioprinting-is-the-ability-to-layer-cell-ink-based-on-the-precise-shape-of-the-wound-making-it-particularly-suitable-for-treating-irregularly-span {
  color: rgba(9, 51, 202, 0.78);
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 500;
}
.application-of-in-situ-skin-bioprinting-in-situ-skin-bioprinting-utilizes-inkjet-bioprinting-technology-which-uses-handheld-devices-or-robot-automation-systems-to-directly-print-cell-filled-bioprinting-onto-the-human-wound-site-6-this-bioprinting-method-can-print-concentrated-skin-cell-suspensions-onto-wounds-to-accelerate-their-healing-hakimi-et-al-14-developed-a-handheld-3-d-in-situ-bioprinter-that-can-be-directly-printed-in-mouse-and-pig-wound-models-with-cells-forming-skin-patches-in-situ-on-the-wound-albanna-et-al-6-used-portable-inkjet-bioprinters-and-laser-bioprinters-to-print-high-density-suspensions-of-human-fibroblasts-and-keratinocytes-onto-full-thickness-skin-excised-wounds-in-experimental-mice-using-fibrin-collagen-bioprinters-the-skin-structure-printed-on-the-wound-retains-a-high-cell-density-and-for-up-to-6-weeks-after-printing-human-cells-can-also-be-observed-in-the-tissue-compared-to-untreated-and-cell-free-grafts-direct-in-situ-skin-3-d-bioprinting-therapy-leads-to-faster-wound-healing-skardal-et-al-7-also-evaluated-the-role-of-stem-cell-derived-seed-cells-in-wound-healing-by-using-a-robotic-inkjet-bioprinter-to-directly-print-amniotic-fluid-derived-stem-cells-afsc-and-fibrin-collagen-bioprinters-carrying-bone-marrow-mesenchymal-stem-cells-bm-ms-cs-onto-the-wounds-of-mice-undergoing-full-layer-skin-resection-compared-with-the-pure-gel-control-group-the-mice-treated-with-afs-cs-and-bm-ms-cs-had-faster-wound-closure-and-epidermal-formation-in-another-experiment-to-regulate-paracrine-activity-at-the-wound-site-skardal-et-al-7-printed-heparin-coupled-hyaluronic-acid-hydrogel-containing-afs-cs-directly-on-the-wound-of-full-thickness-skin-resection-the-hydrogel-can-isolate-the-cytokines-secreted-by-afsc-in-situ-extend-paracrine-activity-and-make-the-full-thickness-wound-faster-closed-and-vascularized-the-main-advantage-of-in-situ-bioprinting-is-the-ability-to-layer-cell-ink-based-on-the-precise-shape-of-the-wound-making-it-particularly-suitable-for-treating-irregularly-span2 {
  color: #000000;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
._5-find-new-reseach-or-application {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 564px);
  top: calc(50% - 5297.5px);
  width: 678px;
  height: 25px;
}
._6-use-slice-software-to-setting-parameter {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 564px);
  top: calc(50% - 3379.5px);
  width: 695px;
  height: 25.02px;
}
.group-18 {
  position: absolute;
  inset: 0;
}
._20240530111536-1 {
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 954.15px;
  height: 574px;
  position: absolute;
  left: calc(50% - 506px);
  top: calc(50% - 3332.5px);
  object-fit: cover;
}
.group-60 {
  position: absolute;
  inset: 0;
}
._20240530111536-12 {
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 954.15px;
  height: 574px;
  position: absolute;
  left: calc(50% - 506px);
  top: calc(50% - 2723.5px);
  object-fit: cover;
}
.image-2 {
  border-radius: 47px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 510px;
  position: absolute;
  left: calc(50% - 506px);
  top: calc(50% - 1537.5px);
  object-fit: cover;
}
.image-3 {
  border-radius: 58px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 509px;
  position: absolute;
  left: calc(50% - 506px);
  top: calc(50% - 2096.5px);
  object-fit: cover;
}
.f-7-e-854-d-570-b-962-a-0-b-13-e-4-c-6806-f-1472-1 {
  width: 723px;
  height: 674px;
  position: absolute;
  left: calc(50% - 381px);
  top: calc(50% - 1001.5px);
  object-fit: cover;
}
.use-the-tools-on-the-left-to-sketch-constrain-sketches-through-sketch-dimensions-and-the-right-toolbar-the-sketch-line-before-constraint-is-blue-and-the-sketch-line-after-constraint-is-black-parts-can-be-constrained-by-labelling-the-size-the-shortcut-key-is-caps-lk-plus-d {
  text-align: justified;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 491px);
  top: calc(50% - -208.5px);
  width: 1126px;
  height: 155px;
}
.use-the-tools-on-the-left-to-sketch-constrain-sketches-through-sketch-dimensions-and-the-right-toolbar-the-sketch-line-before-constraint-is-blue-and-the-sketch-line-after-constraint-is-black-parts-can-be-constrained-by-labelling-the-size-the-shortcut-key-is-caps-lk-plus-d-span {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.use-the-tools-on-the-left-to-sketch-constrain-sketches-through-sketch-dimensions-and-the-right-toolbar-the-sketch-line-before-constraint-is-blue-and-the-sketch-line-after-constraint-is-black-parts-can-be-constrained-by-labelling-the-size-the-shortcut-key-is-caps-lk-plus-d-span2 {
  color: #b70000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
}
.image-1 {
  border-radius: 43px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 510px;
  position: absolute;
  left: calc(50% - 481px);
  top: calc(50% - 301.5px);
  object-fit: cover;
}
._7-use-3-d-printer-to-manufacture-it {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 538px);
  top: calc(50% - -413.5px);
  width: 695px;
  height: 25.02px;
}
.image-4 {
  border-radius: 43px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 510px;
  position: absolute;
  left: calc(50% - 476px);
  top: calc(50% - -470.5px);
  object-fit: cover;
}
.image-5 {
  border-radius: 43px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 510px;
  position: absolute;
  left: calc(50% - 476px);
  top: calc(50% - -1070.5px);
  object-fit: cover;
}
.image-6 {
  border-radius: 43px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 510px;
  position: absolute;
  left: calc(50% - 478px);
  top: calc(50% - -1670.5px);
  object-fit: cover;
}
.image-7 {
  border-radius: 43px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 510px;
  position: absolute;
  left: calc(50% - 478px);
  top: calc(50% - -2270.5px);
  object-fit: cover;
}
.image-8 {
  border-radius: 43px;
  width: 955px;
  height: 510px;
  position: absolute;
  left: calc(50% - 478px);
  top: calc(50% - -2870.5px);
  object-fit: cover;
}
._1-drag-the-exported-stl-of-anycubic-slicer-after-modifying-parameters-into-ulti-maker-cura {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 300;
  position: absolute;
  left: calc(50% - 476px);
  top: calc(50% - -980.5px);
  width: 1065px;
  height: 50px;
}
._2-export-as-gcode-after-slicing {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 300;
  position: absolute;
  left: calc(50% - 478px);
  top: calc(50% - -1580.5px);
  width: 1065px;
  height: 50px;
}
._3-drag-the-gcode-file-into-the-usb-drive {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 300;
  position: absolute;
  left: calc(50% - 475px);
  top: calc(50% - -2187.5px);
  width: 1065px;
  height: 50px;
}
._4-insert-the-usb-drive-into-the-3-d-printer {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 300;
  position: absolute;
  left: calc(50% - 478px);
  top: calc(50% - -2787.5px);
  width: 1065px;
  height: 50px;
}
._5-find-the-file-the-latest-file-is-usually-in-the-first-place-and-start-printing {
  text-align: justified;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 300;
  position: absolute;
  left: calc(50% - 478px);
  top: calc(50% - -3380.5px);
  width: 1065px;
  height: 50px;
}
._5-find-the-file-the-latest-file-is-usually-in-the-first-place-and-start-printing-span {
  color: #000000;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 300;
}
._5-find-the-file-the-latest-file-is-usually-in-the-first-place-and-start-printing-span2 {
  color: #b70000;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 300;
}
._5-find-the-file-the-latest-file-is-usually-in-the-first-place-and-start-printing-span3 {
  color: #000000;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 300;
}
.group-74 {
  position: absolute;
  inset: 0;
}
._005-eaa-985-c-2-bdf-82-d-199-bc-7-d-2-a-58874-d-1 {
  border-radius: 64px;
  width: 524px;
  height: 699px;
  position: absolute;
  left: calc(50% - -39px);
  top: calc(50% - -3609.5px);
  object-fit: cover;
}
._2-sandpaper-soaked-in-wet-and-polished {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 536px);
  top: calc(50% - -5027.5px);
}
._400-eye-rough-repair-of-the-muse {
  color: #000000;
  text-align: justified;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 20px;
  line-height: 39px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 536px);
  top: calc(50% - -5066.5px);
}
.fd-91082-ab-9-ae-7-d-6-c-166161-b-1-e-734-ac-47-1 {
  border-radius: 69px;
  width: 520px;
  height: 390px;
  position: absolute;
  left: calc(50% - 536px);
  top: calc(50% - -5201.5px);
  object-fit: cover;
}
._572292-fd-30890083-a-4-ccc-39175100-d-26-1 {
  border-radius: 67px;
  width: 521px;
  height: 390px;
  position: absolute;
  left: calc(50% - -42px);
  top: calc(50% - -5201.5px);
  object-fit: cover;
}
._3-800-mesh-refinement {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 536px);
  top: calc(50% - -5666.5px);
}
.bd-695-b-435-f-29-f-3-d-48-d-8-e-2-a-67757-dcb-5-e-1 {
  border-radius: 61px;
  width: 1100px;
  height: 587px;
  position: absolute;
  left: calc(50% - 538px);
  top: calc(50% - -5717.5px);
  object-fit: cover;
}
._4-surface-painting-of-gas-masks-and-spray-cans {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 535px);
  top: calc(50% - -6374.5px);
}
._49-b-406-b-9-a-58-f-5-fb-59108-b-3004-cb-9-b-034-1 {
  border-radius: 59px;
  width: 512px;
  height: 384px;
  position: absolute;
  left: calc(50% - 535px);
  top: calc(50% - -6409.5px);
  object-fit: cover;
}
.c-6-b-73-e-22-dc-438-f-6-efdc-6-deca-007-da-74-c-1 {
  border-radius: 58px;
  width: 525px;
  height: 384px;
  position: absolute;
  left: calc(50% - -37px);
  top: calc(50% - -6409.5px);
  object-fit: cover;
}
._5-shake-and-spray-paint-twice-in-15-minutes-and-finally-dry {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 538px);
  top: calc(50% - -6865.5px);
  width: 647px;
  height: 141px;
}
._63-ebc-39-ce-03815-dc-8-abc-538-b-3-d-5-a-60-ec-1 {
  border-radius: 58px;
  width: 512px;
  height: 378px;
  position: absolute;
  left: calc(50% - 535px);
  top: calc(50% - -6900.5px);
  object-fit: cover;
}
._37010-fcb-285-b-833119-d-657-eac-47-b-2-d-31-1 {
  border-radius: 56px;
  width: 525px;
  height: 378px;
  position: absolute;
  left: calc(50% - -38px);
  top: calc(50% - -6900.5px);
  object-fit: cover;
}
._8-postprocess-the-surface {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 536px);
  top: calc(50% - -3474.5px);
  width: 695px;
  height: 25.02px;
}
.group-59 {
  width: 357px;
  height: 95px;
  position: static;
}
.group-562 {
  width: 357px;
  height: 95px;
  position: static;
}
._1-pliers-remove-the-support-and-skirt-slickets-and-sandpaper-polishing {
  color: #000000;
  text-align: justified;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 20px;
  line-height: 39px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 535px);
  top: calc(50% - -3515.5px);
  width: 357px;
  height: 95px;
}
._142-dd-13-c-3-ce-2572-fbc-87392-b-1-ff-4434-c-1 {
  border-radius: 84px;
  width: 520px;
  height: 693px;
  position: absolute;
  left: calc(50% - 538px);
  top: calc(50% - -3609.5px);
  object-fit: cover;
}
._317-a-2-f-4-e-1-def-080630-e-6-d-0-aadf-7-ed-659-1 {
  border-radius: 73px;
  width: 1096px;
  height: 650px;
  position: absolute;
  left: calc(50% - 535px);
  top: calc(50% - -4341.5px);
  object-fit: cover;
}
