.arduino,
.arduino * {
  box-sizing: border-box;
}
.arduino {
  background: #ffffff;
  height: 8851px;
  position: relative;
  overflow: hidden;
}
.course-arduino {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  left: 111px;
  top: 106px;
  width: 270px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1-class-practice-switch-controls-the-twin-lights {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 111px;
  top: 175px;
  width: 695px;
  height: 30px;
}
._1-class-practice-switch-controls-the-twin-lights-span {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
}
._1-class-practice-switch-controls-the-twin-lights-span2 {
  color: #000000;
  font-family: "Inter-Light", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 300;
}
.group-12 {
  position: absolute;
  inset: 0;
}
._20240530111536-1 {
  border-radius: 35px;
  width: 955px;
  height: 487px;
  position: absolute;
  left: calc(50% - 493px);
  top: calc(50% - 4169.5px);
  object-fit: cover;
}
._20240530111536-2 {
  border-radius: 35px;
  width: 955px;
  height: 488px;
  position: absolute;
  left: calc(50% - 493px);
  top: calc(50% - 3652.5px);
  object-fit: cover;
}
._20240530111536-3 {
  border-radius: 35px;
  width: 955px;
  height: 487px;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - 3134.5px);
  object-fit: cover;
}
.we-started-using-tinkercad-to-try-and-learn-about-flowing-lights-understand-the-operating-rules-of-nano-boards {
  color: #000000;
  text-align: justified;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - 2613.5px);
  width: 1127px;
  height: 76.02px;
}
.tinkercad-attempt {
  color: #000000;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 300;
  position: absolute;
  right: 63.33%;
  left: 14.1%;
  width: 22.57%;
  bottom: 97.36%;
  top: 2.35%;
  height: 0.29%;
}
.group-10 {
  position: absolute;
  inset: 0;
}
._3-flowing-light-display {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 609px);
  top: calc(50% - -487.5px);
  width: 695px;
  height: 43px;
}
._20240530111536-4 {
  border-radius: 35px;
  width: 955px;
  height: 585px;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - -549.5px);
}
.group-9 {
  position: absolute;
  inset: 0;
}
._2-arduino-makes-flowing-lights {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 609px);
  top: calc(50% - 2508.5px);
  width: 658.91px;
  height: 30px;
}
.code {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 467px);
  top: calc(50% - 2455.5px);
  width: 308.12px;
  height: 26.08px;
}
.explanation {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 547.38px);
  top: calc(50% - 683.5px);
  width: 308.12px;
  height: 26.08px;
}
.group-8 {
  width: 955px;
  height: 1729px;
  position: static;
}
.rectangle-2 {
  border-radius: 0px;
  width: 955px;
  height: 1729px;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - 2436.5px);
  overflow: visible;
}
.include-neo-pixel-bus-h-include-neo-pixel-animator-h-const-uint-16-t-pixel-count-16-make-sure-to-set-this-to-the-number-of-pixels-in-your-strip-const-uint-16-t-pixel-pin-2-make-sure-to-set-this-to-the-correct-pin-ignored-for-esp-8266-const-uint-16-t-anim-count-pixel-count-5-2-1-we-only-need-enough-animations-for-the-tail-and-one-extra-const-uint-16-t-pixel-fade-duration-300-third-of-a-second-one-second-divide-by-the-number-of-pixels-loop-once-a-second-const-uint-16-t-next-pixel-move-duration-1000-pixel-count-how-fast-we-move-through-the-pixels-neo-gamma-neo-gamma-table-method-color-gamma-for-any-fade-animations-best-to-correct-gamma-neo-pixel-bus-neo-grb-feature-neo-ws-2812-x-method-strip-pixel-count-pixel-pin-struct-my-animation-state-rgb-color-starting-color-rgb-color-ending-color-uint-16-t-index-pixel-which-pixel-this-animation-is-effecting-neo-pixel-animator-animations-anim-count-neo-pixel-animation-management-object-my-animation-state-animation-state-anim-count-uint-16-t-front-pixel-0-the-front-of-the-loop-rgb-color-front-color-the-color-at-the-front-of-the-loop-void-set-random-seed-uint-32-t-seed-seed-analog-read-0-delay-1-for-int-shifts-3-shifts-31-shifts-3-seed-analog-read-0-shifts-delay-1-serial-println-seed-random-seed-seed-void-fade-out-anim-update-const-animation-param-param-rgb-color-updated-color-rgb-color-linear-blend-animation-state-param-index-starting-color-animation-state-param-index-ending-color-param-progress-apply-the-color-to-the-strip-strip-set-pixel-color-animation-state-param-index-index-pixel-color-gamma-correct-updated-color-void-loop-anim-update-const-animation-param-param-if-param-state-animation-state-completed-done-time-to-restart-this-position-tracking-animation-timer-animations-restart-animation-param-index-front-pixel-front-pixel-1-pixel-count-increment-and-wrap-if-front-pixel-0-we-looped-lets-pick-a-new-front-color-front-color-hsl-color-random-360-360-0-f-1-0-f-0-25-f-uint-16-t-index-anim-if-animations-next-available-animation-index-anim-1-animation-state-index-anim-starting-color-front-color-animation-state-index-anim-ending-color-rgb-color-0-0-0-animation-state-index-anim-index-pixel-front-pixel-animations-start-animation-index-anim-pixel-fade-duration-fade-out-anim-update-void-setup-strip-begin-strip-show-set-random-seed-we-use-the-index-0-animation-to-time-how-often-we-move-to-the-next-pixel-in-the-strip-animations-start-animation-0-next-pixel-move-duration-loop-anim-update-void-loop-this-is-all-that-is-needed-to-keep-it-running-and-avoiding-using-delay-is-always-a-good-thing-for-any-timing-related-routines-animations-update-animations-strip-show {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 466.95px);
  top: calc(50% - 2416.49px);
  width: 876.93px;
  height: 848.67px;
}
.hardware-configuration-and-initialization-pixel-count-and-pixel-pin-define-the-number-of-le-ds-on-the-light-strip-and-the-pins-they-are-connected-to-ensure-that-these-values-match-your-hardware-settings-neo-pixel-bus-and-neo-pixel-animator-these-two-libraries-provide-the-necessary-functions-to-control-neo-pixel-light-strips-including-color-settings-animation-and-more-neo-gamma-neo-gamma-table-method-color-gamma-used-for-color-gamma-correction-to-ensure-more-accurate-color-display-animation-parameter-anim-count-calculate-the-number-of-animations-based-on-the-number-of-le-ds-and-the-number-of-le-ds-covered-by-each-animation-assuming-that-each-animation-affects-approximately-one-fifth-of-the-led-on-the-light-strip-pixel-fade-duration-defines-the-length-of-time-a-color-fades-in-and-out-next-pixel-move-duration-defines-the-speed-of-led-movement-in-an-animation-which-is-the-time-required-to-move-from-one-led-to-the-next-animation-state-management-my-animation-state-structure-defines-the-state-of-each-animation-including-the-start-color-end-color-and-affected-led-index-neo-pixel-animator-animations-anim-count-create-a-neo-pixel-animation-management-object-to-control-multiple-animations-animation-state-anim-count-an-array-that-stores-all-animation-states-animation-logic-preparation-front-pixel-and-front-color-these-two-variables-will-be-used-to-track-the-index-and-color-of-the-led-flowing-to-the-front-in-the-animation-although-the-complete-animation-logic-is-not-displayed-in-the-code-snippet-these-two-variables-are-key-to-achieving-a-flowing-light-effect-random-seed-setting-although-this-part-may-not-be-directly-related-to-animation-logic-set-random-seed-function-used-to-set-the-seed-for-the-random-number-generator-this-is-very-useful-for-animations-that-require-randomness-such-as-random-color-changes-the-method-of-simulating-the-reading-of-unconnected-pins-is-used-here-combined-with-bit-operations-to-generate-a-31-bit-random-seed {
  color: #000000;
  text-align: justified;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 20px;
  line-height: 42px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - 657.5px);
  width: 955px;
  height: 1167px;
}
.logo {
  width: 188.65px;
  height: 72.25px;
  position: absolute;
  left: 73px;
  top: 0px;
}
.rectangle-1 {
  width: 99.78%;
  height: 99.85%;
  position: absolute;
  right: 0%;
  left: 0.22%;
  bottom: 0%;
  top: 0.15%;
  transform: translate(0px, 0px);
  overflow: visible;
}
.bbst {
  color: #ffffff;
  text-align: center;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0.35%;
  left: 0%;
  width: 99.65%;
  bottom: 0.35%;
  top: 0%;
  height: 99.65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 107.97px;
  left: 73px;
  top: 72px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-7 {
  position: absolute;
  inset: 0;
}
.about {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 925px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-interoduction {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 587px;
  top: 24px;
  width: 361px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-member {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 296px;
  top: 24px;
  width: 315px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 185px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 74px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 80.97px;
  left: 100px;
  bottom: 48px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.bsst-team-zwu {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 1063px;
  left: 80px;
  bottom: 0px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2024-6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 81px;
  left: 1062px;
  bottom: 0px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-11 {
  position: absolute;
  inset: 0;
}
._4-some-open-source-projects {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 609px);
  top: calc(50% - -1235.5px);
  width: 695px;
  height: 30px;
}
.image {
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 632px;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - -1297.5px);
  object-fit: cover;
}
.the-name-of-the-project-is-to-build-a-tall-weathercloud-weather-station-in-ardiuno-advantages-using-the-ardiuno-nano-board-which-is-the-same-as-the-board-used-in-the-previous-hardware-class-it-is-better-for-us-to-learn-to-use-and-operate-disadvantages-at-present-the-hardware-knowledge-is-relatively-small-and-a-lot-of-learning-and-practice-are-still-needed-at-the-same-time-the-project-was-just-a-meteorological-device-and-we-needed-to-integrate-it-with-our-thematic-climate-action-and-as-art-and-technology-students-we-needed-a-more-aesthetically-pleasing-and-thought-provoking-design-solution {
  text-align: justified;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 479px);
  top: calc(50% - -4007.5px);
  width: 938px;
  height: 394px;
}
.the-name-of-the-project-is-to-build-a-tall-weathercloud-weather-station-in-ardiuno-advantages-using-the-ardiuno-nano-board-which-is-the-same-as-the-board-used-in-the-previous-hardware-class-it-is-better-for-us-to-learn-to-use-and-operate-disadvantages-at-present-the-hardware-knowledge-is-relatively-small-and-a-lot-of-learning-and-practice-are-still-needed-at-the-same-time-the-project-was-just-a-meteorological-device-and-we-needed-to-integrate-it-with-our-thematic-climate-action-and-as-art-and-technology-students-we-needed-a-more-aesthetically-pleasing-and-thought-provoking-design-solution-span {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}
.the-name-of-the-project-is-to-build-a-tall-weathercloud-weather-station-in-ardiuno-advantages-using-the-ardiuno-nano-board-which-is-the-same-as-the-board-used-in-the-previous-hardware-class-it-is-better-for-us-to-learn-to-use-and-operate-disadvantages-at-present-the-hardware-knowledge-is-relatively-small-and-a-lot-of-learning-and-practice-are-still-needed-at-the-same-time-the-project-was-just-a-meteorological-device-and-we-needed-to-integrate-it-with-our-thematic-climate-action-and-as-art-and-technology-students-we-needed-a-more-aesthetically-pleasing-and-thought-provoking-design-solution-span2 {
  color: var(--color, rgba(9, 51, 202, 0.78));
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.the-name-of-the-project-is-to-build-a-tall-weathercloud-weather-station-in-ardiuno-advantages-using-the-ardiuno-nano-board-which-is-the-same-as-the-board-used-in-the-previous-hardware-class-it-is-better-for-us-to-learn-to-use-and-operate-disadvantages-at-present-the-hardware-knowledge-is-relatively-small-and-a-lot-of-learning-and-practice-are-still-needed-at-the-same-time-the-project-was-just-a-meteorological-device-and-we-needed-to-integrate-it-with-our-thematic-climate-action-and-as-art-and-technology-students-we-needed-a-more-aesthetically-pleasing-and-thought-provoking-design-solution-span3 {
  color: var(--color, rgba(9, 51, 202, 0.78));
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}
.the-name-of-the-project-is-to-build-a-tall-weathercloud-weather-station-in-ardiuno-advantages-using-the-ardiuno-nano-board-which-is-the-same-as-the-board-used-in-the-previous-hardware-class-it-is-better-for-us-to-learn-to-use-and-operate-disadvantages-at-present-the-hardware-knowledge-is-relatively-small-and-a-lot-of-learning-and-practice-are-still-needed-at-the-same-time-the-project-was-just-a-meteorological-device-and-we-needed-to-integrate-it-with-our-thematic-climate-action-and-as-art-and-technology-students-we-needed-a-more-aesthetically-pleasing-and-thought-provoking-design-solution-span4 {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}
.the-name-of-the-project-is-to-build-a-tall-weathercloud-weather-station-in-ardiuno-advantages-using-the-ardiuno-nano-board-which-is-the-same-as-the-board-used-in-the-previous-hardware-class-it-is-better-for-us-to-learn-to-use-and-operate-disadvantages-at-present-the-hardware-knowledge-is-relatively-small-and-a-lot-of-learning-and-practice-are-still-needed-at-the-same-time-the-project-was-just-a-meteorological-device-and-we-needed-to-integrate-it-with-our-thematic-climate-action-and-as-art-and-technology-students-we-needed-a-more-aesthetically-pleasing-and-thought-provoking-design-solution-span5 {
  color: var(--color, rgba(9, 51, 202, 0.78));
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.the-name-of-the-project-is-to-build-a-tall-weathercloud-weather-station-in-ardiuno-advantages-using-the-ardiuno-nano-board-which-is-the-same-as-the-board-used-in-the-previous-hardware-class-it-is-better-for-us-to-learn-to-use-and-operate-disadvantages-at-present-the-hardware-knowledge-is-relatively-small-and-a-lot-of-learning-and-practice-are-still-needed-at-the-same-time-the-project-was-just-a-meteorological-device-and-we-needed-to-integrate-it-with-our-thematic-climate-action-and-as-art-and-technology-students-we-needed-a-more-aesthetically-pleasing-and-thought-provoking-design-solution-span6 {
  color: #000000;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}
.image2 {
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 632px;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - -1961.5px);
  object-fit: cover;
}
.image3 {
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 634px;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - -2642.5px);
  object-fit: cover;
}
.image4 {
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 955px;
  height: 633px;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - -3325.5px);
  object-fit: cover;
}
