.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 4725px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.info-section {
  padding: 48px 120px 56px 120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1512px;
  height: 1646px;
  position: absolute;
  left: calc(50% - 756px);
  top: 110px;
}
.bread-crumbs {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.page-name {
  color: #000000;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.arrow {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.page-name2 {
  color: #000000;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.title-image-info-text-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.titile {
  color: #000000;
  text-align: left;
  position: relative;
  width: 1244px;
}
.titile-span {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.titile-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  line-height: 64px;
  letter-spacing: -0.02em;
  font-weight: 400;
}
.image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1272px;
  height: 415px;
  position: relative;
  overflow: hidden;
}
.image2 {
  flex-shrink: 0;
  width: 689.44px;
  height: 414px;
  position: relative;
  object-fit: cover;
}
.image3 {
  flex-shrink: 0;
  width: 689.44px;
  height: 414px;
  position: relative;
}
.image4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 689.44px;
  height: 414px;
  position: relative;
  object-fit: cover;
}
.description {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 24px;
  line-height: 42px;
  font-weight: 200;
  position: relative;
  width: 1272px;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.info-section2 {
  padding: 48px 120px 56px 120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1512px;
  height: 1620px;
  position: absolute;
  left: calc(50% - 756px);
  top: 1787px;
}
.titile-span3 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.titile-span4 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  line-height: 64px;
  letter-spacing: -0.02em;
  font-weight: 400;
}
.info-section3 {
  padding: 48px 120px 56px 120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1512px;
  height: 1620px;
  position: absolute;
  left: calc(50% - 756px);
  top: 3407px;
}
.titile-span5 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.titile-span6 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  line-height: 64px;
  letter-spacing: -0.02em;
  font-weight: 400;
}
.footer {
  background: #ffffff;
  padding: 0px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: 0px;
  bottom: -40px;
  overflow: hidden;
}
.divider {
  background: #000000;
  flex-shrink: 0;
  width: 1432px;
  height: 1px;
  position: relative;
}
.copywriting-privacy {
  padding: 0px 120px 0px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1512px;
  position: relative;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.description2 {
  color: #000000;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.description3 {
  color: #000000;
  text-align: left;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.privacy {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header {
  background: #ffffff;
  padding: 0px 120px 12px 120px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: -32px;
}
.logo {
  background: #000000;
  padding: 56px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.bsst {
  color: #ffffff;
  text-align: center;
  font-family: "AbhayaLibre-Bold", sans-serif;
  font-size: 40px;
  line-height: 104px;
  font-weight: 700;
  position: relative;
  width: 110px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 416px;
  top: 71px;
}
.number-menu-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.number {
  color: #000000;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.menu-item {
  color: #000000;
  text-align: left;
  font-family: "SuezOne-Regular", sans-serif;
  font-size: 29px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.divider2 {
  background: #000000;
  flex-shrink: 0;
  width: 1432px;
  height: 1px;
  position: absolute;
  left: calc(50% - 716px);
  bottom: 0px;
}
