.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #eaeaea;
  height: 885px;
  position: relative;
  overflow: hidden;
}
.component-1 {
  height: 1001px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 115px;
}
.rectangle-36 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 5.99%;
  top: -5.99%;
}
.footer {
  background: #ffffff;
  padding: 0px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 15.88%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 17.78%;
  top: 66.33%;
  overflow: hidden;
}
.divider {
  background: #000000;
  flex-shrink: 0;
  width: 1432px;
  height: 1px;
  position: relative;
}
.copywriting-privacy {
  padding: 0px 120px 0px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1512px;
  position: relative;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.description {
  color: #000000;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.description2 {
  color: #000000;
  text-align: left;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.privacy {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-11 {
  position: absolute;
  inset: 0;
}
._1-web-building {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 22px;
  font-weight: 600;
  position: absolute;
  left: 423px;
  bottom: 83.32%;
  top: 8.99%;
  height: 7.69%;
  width: 416px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2-arduino {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 22px;
  font-weight: 600;
  position: absolute;
  left: 423px;
  bottom: 73.23%;
  top: 19.08%;
  height: 7.69%;
  width: 416px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._3-arduino-device {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 22px;
  font-weight: 600;
  position: absolute;
  left: 423px;
  bottom: 63.14%;
  top: 29.17%;
  height: 7.69%;
  width: 416px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header {
  background: #ffffff;
  padding: 0px 120px 12px 120px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: -26px;
}
.logo {
  background: #000000;
  padding: 56px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.bsst {
  color: #ffffff;
  text-align: center;
  font-family: "AbhayaLibre-Bold", sans-serif;
  font-size: 40px;
  line-height: 104px;
  font-weight: 700;
  position: relative;
  width: 110px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 416px;
  top: 71px;
}
.number-menu-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.number {
  color: #000000;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.menu-item {
  color: #000000;
  text-align: left;
  font-family: "SuezOne-Regular", sans-serif;
  font-size: 29px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.divider2 {
  background: #000000;
  flex-shrink: 0;
  width: 1432px;
  height: 1px;
  position: absolute;
  left: calc(50% - 716px);
  bottom: 0px;
}
