.final,
.final * {
  box-sizing: border-box;
}
.final {
  background: #ffffff;
  height: 924px;
  position: relative;
  overflow: hidden;
}
.logo {
  width: 188.65px;
  height: 72.25px;
  position: absolute;
  left: 90px;
  top: 0px;
}
.rectangle-1 {
  width: 99.78%;
  height: 99.85%;
  position: absolute;
  right: 0%;
  left: 0.22%;
  bottom: 0%;
  top: 0.15%;
  transform: translate(0px, 0px);
  overflow: visible;
}
.bbst {
  color: #ffffff;
  text-align: center;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0.35%;
  left: 0%;
  width: 99.65%;
  bottom: 0.35%;
  top: 0%;
  height: 99.65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 90.97px;
  left: 90px;
  top: 72px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-3 {
  position: absolute;
  inset: 0;
}
.about {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 908px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-interoduction {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 570px;
  top: 24px;
  width: 361px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-member {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 279px;
  top: 24px;
  width: 315px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 168px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 57px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-13 {
  position: absolute;
  inset: 0;
}
.line-22 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 80.97px;
  left: 100px;
  bottom: 48px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.bsst-team-zwu {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 1063px;
  left: 80px;
  bottom: 0px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2024-6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 81px;
  left: 1062px;
  bottom: 0px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-final {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 598px);
  top: calc(50% - 345px);
  width: 400px;
  height: 24.18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-75 {
  position: absolute;
  inset: 0;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 使容器高度为视口高度 */
}

._20240530111536-1 {
  width: 1065.53px;
  height: 641px;
}
.https-b-23-tv-0-t-ze-rkg {
  color: rgba(9, 51, 202, 0.78);
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 14px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 200;
  text-decoration: underline;
  position: absolute;
  left: calc(50% - 532px);
  top: calc(50% - -353px);
  width: 1061px;
  height: 17px;
}
