.team-index,
.team-index * {
  box-sizing: border-box;
}
.team-index {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.our-team {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: 81px;
  top: 146px;
  width: 337px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 87.97px;
  left: 93px;
  bottom: 65px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.bsst-team-zwu {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 1070px;
  left: 73px;
  bottom: 17px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2024-6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 88px;
  left: 1055px;
  bottom: 17px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 188.65px;
  height: 72.25px;
  position: absolute;
  left: 73px;
  top: 0px;
}
.rectangle-1 {
  width: 99.78%;
  height: 99.85%;
  position: absolute;
  right: 0%;
  left: 0.22%;
  bottom: 0%;
  top: 0.15%;
  transform: translate(0px, 0px);
  overflow: visible;
}
.bbst {
  color: #ffffff;
  text-align: center;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0.35%;
  left: 0%;
  width: 99.65%;
  bottom: 0.35%;
  top: 0%;
  height: 99.65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 107.97px;
  left: 73px;
  top: 72px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.about {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 925px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-interoduction {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 587px;
  top: 24px;
  width: 361px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-member {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 296px;
  top: 24px;
  width: 315px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 185px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 74px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-30 {
  position: absolute;
  inset: 0;
}
._20240530105913-4 {
  border-radius: 360px;
  width: 290px;
  height: 290px;
  position: absolute;
  left: calc(50% - 584px);
  top: calc(50% - 290px);
  object-fit: cover;
}
._20240530105913-3 {
  width: 290px;
  height: 290px;
  position: absolute;
  left: calc(50% - 161px);
  top: calc(50% - 290px);
  object-fit: cover;
}
._20240530105913-42 {
  width: 290px;
  height: 290px;
  position: absolute;
  left: calc(50% - 584px);
  top: calc(50% - -79px);
  object-fit: cover;
}
._20240530105913-2 {
  width: 290px;
  height: 290px;
  position: absolute;
  left: calc(50% - -278px);
  top: calc(50% - 290px);
  object-fit: cover;
}
._20240530105913-5 {
  width: 290px;
  height: 290px;
  position: absolute;
  left: calc(50% - 161px);
  top: calc(50% - -79px);
  object-fit: cover;
}
._20240530105913-6 {
  border-radius: 360px;
  width: 290px;
  height: 290px;
  position: absolute;
  left: calc(50% - -278px);
  top: calc(50% - -79px);
  object-fit: cover;
}
