.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 895px;
  position: relative;
  overflow: hidden;
}
.about {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 619px);
  top: calc(50% - -217.5px);
  width: 172.73px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-interoduction {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 483px);
  top: calc(50% - -217.5px);
  width: 464.39px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-member {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 99px);
  top: calc(50% - -217.5px);
  width: 406.34px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -284px);
  top: calc(50% - -217.5px);
  width: 172.73px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -477px);
  top: calc(50% - -217.5px);
  width: 172.73px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-to-bsst {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 96px;
  letter-spacing: 0.1em;
  font-weight: 800;
  position: absolute;
  left: 101px;
  top: 162px;
  width: 823px;
  height: 379px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 80.97px;
  left: 100px;
  bottom: 38px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.bsst-team-zwu {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 1063px;
  left: 80.00000000000011px;
  bottom: 8px;
  height: 21.88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2024-6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 81px;
  left: 1062px;
  bottom: 8px;
  height: 21.88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 188.65px;
  height: 72.25px;
  position: absolute;
  left: 83px;
  top: 0px;
}
.rectangle-1 {
  width: 99.78%;
  height: 99.85%;
  position: absolute;
  right: 0%;
  left: 0.22%;
  bottom: 0%;
  top: 0.15%;
  transform: translate(0px, 0px);
  overflow: visible;
}
.bbst {
  color: #ffffff;
  text-align: center;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0.35%;
  left: 0%;
  width: 99.65%;
  bottom: 0.35%;
  top: 0%;
  height: 99.65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 97.97px;
  left: 83px;
  top: 72px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
