.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #ffffff;
  height: 906px;
  position: relative;
  overflow: hidden;
}
.frame-85 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 36px;
  left: -36px;
  top: 854px;
}
.footer {
  background: #ffffff;
  padding: 0px 0px 6px 0px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 104px;
  position: relative;
  overflow: hidden;
}
.copywriting-privacy {
  padding: 0px 120px 0px 120px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1512px;
  height: 70px;
  position: relative;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div {
  color: #000000;
  text-align: center;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.description {
  color: #000000;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.description2 {
  color: #000000;
  text-align: left;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.privacy {
  flex-shrink: 0;
  width: 239px;
  height: 22px;
  position: relative;
}
.description3 {
  color: #000000;
  text-align: left;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
}
.description4 {
  color: #000000;
  text-align: left;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 108px;
  top: 0px;
}
.description5 {
  color: #000000;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 0px;
}
.union {
  width: 957.11px;
  height: 287.03px;
  position: absolute;
  left: 84px;
  top: 309px;
  overflow: visible;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 84.99px;
  left: 70px;
  top: 846px;
}
.header {
  background: #ffffff;
  padding: 0px 120px 12px 120px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: -36px;
  left: -36px;
  top: -57px;
}
.frame-86 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo {
  background: #000000;
  padding: 56px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.bsst {
  color: #ffffff;
  text-align: center;
  font-family: "AbhayaLibre-Bold", sans-serif;
  font-size: 40px;
  line-height: 104px;
  font-weight: 700;
  position: relative;
  width: 110px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 416px;
  top: 71px;
}
.number-menu-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.number {
  color: #000000;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.menu-item {
  color: #000000;
  text-align: left;
  font-family: "SuezOne-Regular", sans-serif;
  font-size: 29px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.number-menu-item2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 237px;
  position: relative;
}
.divider {
  background: #000000;
  flex-shrink: 0;
  height: 1px;
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 0px;
}
