.team-interoduction,
.team-interoduction * {
  box-sizing: border-box;
}
.team-interoduction {
  background: #ffffff;
  height: 891px;
  position: relative;
  overflow: hidden;
}
.logo {
  width: 188.65px;
  height: 72.25px;
  position: absolute;
  left: 90px;
  top: 0px;
}
.rectangle-1 {
  width: 99.78%;
  height: 99.85%;
  position: absolute;
  right: 0%;
  left: 0.22%;
  bottom: 0%;
  top: 0.15%;
  transform: translate(0px, 0px);
  overflow: visible;
}
.bbst {
  color: #ffffff;
  text-align: center;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0.35%;
  left: 0%;
  width: 99.65%;
  bottom: 0.35%;
  top: 0%;
  height: 99.65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 90.97px;
  left: 90px;
  top: 72px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-3 {
  position: absolute;
  inset: 0;
}
.about {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 908px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-interoduction2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 570px;
  top: 24px;
  width: 361px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-member {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 279px;
  top: 24px;
  width: 315px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 168px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 57px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.who-we-are {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: 208px;
  top: 169px;
  width: 337px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team-slogan {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: 208px;
  top: 525px;
  width: 337px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.our-group-has-a-good-personal-style-and-cultural-traditions-we-according-to-the-situation-in-the-group-because-of-the-group-leader-s-sincere-teaching-and-care-we-respect-the-group-leader-very-much-so-our-group-is-named-blue-sky-save-team-blue-sky-save-team-abbreviated-as-bsst {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.14%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  right: 134px;
  left: 255px;
  top: 221px;
  height: 182px;
  display: flex;
  align-items: center;
}
.div {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.14%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  right: 41px;
  left: 255px;
  top: 618px;
  height: 61px;
  display: flex;
  align-items: center;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.line-22 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 80.97px;
  left: 100px;
  bottom: 73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.bsst-team-zwu {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 1063px;
  left: 80px;
  bottom: 25px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2024-6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 81px;
  left: 1062px;
  bottom: 25px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
