.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 3246px;
  position: relative;
  overflow: hidden;
}
.logo {
  width: 188.65px;
  height: 72.25px;
  position: absolute;
  left: 90px;
  top: 0px;
}
.rectangle-1 {
  width: 99.78%;
  height: 99.85%;
  position: absolute;
  right: 0%;
  left: 0.22%;
  bottom: 0%;
  top: 0.15%;
  transform: translate(0px, 0px);
  overflow: visible;
}
.bbst {
  color: #ffffff;
  text-align: center;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0.35%;
  left: 0%;
  width: 99.65%;
  bottom: 0.35%;
  top: 0%;
  height: 99.65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 90.97px;
  left: 90px;
  top: 72px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-3 {
  position: absolute;
  inset: 0;
}
.about {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 908px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-interoduction {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 570px;
  top: 24px;
  width: 361px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-member {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 279px;
  top: 24px;
  width: 315px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 168px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 57px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-13 {
  position: absolute;
  inset: 0;
}
.line-22 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 80.97px;
  left: 100px;
  bottom: 48px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.bsst-team-zwu {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 1063px;
  left: 80px;
  bottom: 0px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2024-6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 81px;
  left: 1062px;
  bottom: 0px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-interface-application-programming {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 573px);
  top: calc(50% - 1518px);
  width: 535px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-47 {
  position: absolute;
  inset: 0;
}
._1-processing {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 573px);
  top: calc(50% - 1456px);
  width: 695px;
  height: 30px;
}
._20240530111536-5 {
  border-radius: 35px;
  width: 1053px;
  height: 585px;
  position: absolute;
  left: calc(50% - 521px);
  top: calc(50% - 1378px);
}
.group-37 {
  width: 1029px;
  height: 526.32px;
  position: static;
}
._20240530111536-6 {
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1029px;
  height: 526.32px;
  position: absolute;
  left: calc(50% - 515px);
  top: calc(50% - 801px);
}
.group-36 {
  width: 339px;
  height: 26px;
  position: static;
}
.processing-code {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 535px);
  top: calc(50% - 1397px);
  width: 339px;
  height: 26px;
}
.code-snippet-wrapper {
  background: #24292e;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1029px;
  height: 476px;
  position: absolute;
  left: calc(50% - 515px);
  top: calc(50% - 1342px);
  overflow: hidden;
}
.code-line-numbers {
  color: rgba(225, 228, 232, 0.3);
  text-align: right;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.code-snippet {
  text-align: left;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.code-snippet-span {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span2 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span3 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span4 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span5 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span6 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span7 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span8 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span9 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span10 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span11 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span12 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span13 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span14 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span15 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span16 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span17 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span18 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span19 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span20 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span21 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span22 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span23 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span24 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span25 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span26 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span27 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span28 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span29 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span30 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span31 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span32 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span33 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span34 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span35 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span36 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span37 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span38 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span39 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span40 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span41 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span42 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span43 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span44 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span45 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span46 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span47 {
  color: #f97583;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span48 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span49 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span50 {
  color: #f97583;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span51 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span52 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span53 {
  color: #f97583;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span54 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span55 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span56 {
  color: #f97583;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span57 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span58 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span59 {
  color: #f97583;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span60 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span61 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span62 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span63 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-span64 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
.effect-display {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 515px);
  top: calc(50% - 824px);
  width: 342.54px;
  height: 26px;
}
._1-processing2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 495px);
  top: calc(50% - 196px);
  width: 695px;
  height: 30px;
}
._20240530111536-52 {
  border-radius: 35px;
  width: 1053px;
  height: 585px;
  position: absolute;
  left: calc(50% - 515px);
  top: calc(50% - -261px);
}
.group-372 {
  position: absolute;
  inset: 0;
}
.group-49 {
  width: 1013px;
  height: 447px;
  position: static;
}
._20240530111536-62 {
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 303px;
  height: 447px;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - -883px);
  object-fit: cover;
}
._20240530111536-7 {
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 304px;
  height: 447px;
  position: absolute;
  left: calc(50% - 143px);
  top: calc(50% - -883px);
  object-fit: cover;
}
._20240530111536-8 {
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 303px;
  height: 447px;
  position: absolute;
  left: calc(50% - -214px);
  top: calc(50% - -883px);
  object-fit: cover;
}
.group-362 {
  position: absolute;
  inset: 0;
}
.processing-code2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - -309px);
  width: 339px;
  height: 26px;
}
.effect-display2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 509px);
  top: calc(50% - -815px);
  width: 342.54px;
  height: 26px;
}
.arduino-code {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 484px);
  top: calc(50% - 144px);
  width: 339px;
  height: 26px;
}
.code-snippet-wrapper2 {
  background: #24292e;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1036px;
  height: 442px;
  position: absolute;
  left: calc(50% - 504px);
  top: calc(50% - -349px);
  overflow: hidden;
}
.code-line-numbers2 {
  color: rgba(225, 228, 232, 0.3);
  text-align: right;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.code-snippet2 {
  text-align: left;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.code-snippet-2-span {
  color: #f97583;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span2 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span3 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span4 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span5 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span6 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span7 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span8 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span9 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span10 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span11 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span12 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span13 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span14 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span15 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span16 {
  color: #000000;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span17 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span18 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span19 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span20 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span21 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span22 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span23 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span24 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span25 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-wrapper3 {
  background: #24292e;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1029px;
  height: 369px;
  position: absolute;
  left: calc(50% - 497px);
  top: calc(50% - 96px);
  overflow: hidden;
}
.code-snippet-2-span26 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span27 {
  color: #f97583;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span28 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span29 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span30 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span31 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span32 {
  color: #f97583;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span33 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span34 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span35 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span36 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span37 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span38 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span39 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span40 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span41 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span42 {
  color: #f97583;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span43 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span44 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span45 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span46 {
  color: #f97583;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span47 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span48 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span49 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span50 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span51 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span52 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span53 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span54 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span55 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span56 {
  color: #b392f0;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span57 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span58 {
  color: #79b8ff;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span59 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span60 {
  color: #6a737d;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.code-snippet-2-span61 {
  color: #e1e4e8;
  font-family: "AzeretMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
